body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: rgba(35, 140, 138, 0.824);
}

.container {
  display: flex;
  height: 100vh;
  flex-direction: row;
}

.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.form-container {
  width: 30%;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #ccc;
  margin: 20px;
}

.visualization-container {
  width: 70%;
  background-color: #f5f5f6;
  margin: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  flex: 70%;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

input[type="text"], select {
  width: 100%;
  padding: 6px;
  margin-top: 5px;
  box-sizing: border-box;
}

button {
  background-color: rgb(235, 157, 13);
  color: white;
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
}

button:hover {
  background-color: rgb(235, 157, 14);
}

.wide-button {
  width: 100%;
}

button[type="button"] {
  margin-top: 16px;
}

.compare-chart {
  margin-top: 20px;
}

.chart-container {
  width: 100%;
  height: 50vh;
  padding: 20px;
}

.chart-wrapper {
  margin-bottom: 20px;
}